.header-content{
    min-height: 20vh;
    background: linear-gradient(rgba(46, 44, 44, 0.137), rgba(100, 94, 94, 0.5)), center/cover no-repeat;
    flex-direction: column;
}
.header-title h2{
    font-size: 4rem;
    text-align: center;
}
.header-text p{
    text-align: center;
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}